@using ASOL.HireThings.Model


@{
    var menuList = (IMenuModel)Session[ASOL.HireThings.Core.Constant.ObjectModel];
}

<div class="nano ">
    <div class="nano-content">
        <nav id="menu" class="nav-main">
            <ul class="nav nav-main">
                @{
                    List<IMenuItemModel> itemLevel2 = new List<IMenuItemModel>();
                    List<IMenuItemModel> itemLevel3 = new List<IMenuItemModel>();
                    if (menuList != null && menuList.ParentMenuList.Count > 0)
                    {
                        foreach (var item in menuList.ParentMenuList)
                        {
                            itemLevel2 = menuList.MenuItemList.Where(i => i.ParentObjectId == item.ObjectId).ToList();

                            <li class="@((itemLevel2.Count > 0) ? "nav-parent" : "")">
                                <a class="menuanchor" href=@Url.Content(item.URL) data-caption="@item.Caption"><i class="fa @item.ObjectImage"></i><span>@item.ObjectName</span></a>
                                @if (itemLevel2.Count > 0)
                                {
                                    <ul class="nav nav-children">
                                        @foreach (MenuItemModel mItem in itemLevel2)
                                        {
                                            itemLevel3 = menuList.MenuItemList.Where(i => i.ParentObjectId == mItem.ObjectId).ToList();

                                            <li class="@((itemLevel3.Count > 0) ? "nav-parent" : "")">
                                                <a class="menuanchor" href=@Url.Content(mItem.URL) data-caption="@mItem.Caption">@mItem.ObjectName</a>
                                                @if (itemLevel3.Count > 0)
                                                {
                                                    <ul class="nav nav-children">
                                                        @foreach (MenuItemModel mItem3 in itemLevel3)
                                                        {
                                                            <li>
                                                                <a class="menuanchor" href=@Url.Content(mItem3.URL) data-caption="@mItem3.Caption">@mItem3.ObjectName</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                }

            </ul>

        </nav>
    </div>
</div>
